body, form {
    display: flex;
    flex-direction: column;
}

input, textarea, button {
    margin: 0.5em;
}

.card {
    color: rgb(50, 50, 50);
    border-width: 1px;
    border-style: solid;
    padding: 0.2em;
    margin: 0.5em;
    white-space: pre-wrap;

}